<%= form_with(model: desk, local: true) do |form| %>
  <% if desk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desk.errors.count, "error") %> prohibited this desk from being saved:</h2>

      <ul>
      <% desk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :desk_num %>
    <%= form.text_field :desk_num %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.date_select :from %>
  </div>

  <div class="field">
    <%= form.label :till %>
    <%= form.date_select :till %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
