<%= form_with(model: desk, local: true) do |form| %>
  <% if desk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desk.errors.count, "error") %> prohibited this desk from being saved:</h2>

      <ul>
      <% desk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-6">
      <%= form.select(:desk_num, ["A1-1", "A1-2", "A1-3", "B1-1", "B1-2"], {include_blank: "Select something"}, { :class => 'custom-select' }) %>

    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
   <%= form.text_field "from_to_date",id: "choose_date", class: 'form-control', data: { behavior: 'daterangepicker' } %>
  </div>
  </div>

  <div class='form-group row'>
    <div class="col-sm-6">
      <%= form.submit "Book", class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
<% end %>