<p id="notice"><%= notice %></p>

<h1>Desks</h1>

<table>
  <thead>
    <tr>
      <th>Desk num</th>
      <th>From</th>
      <th>Till</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desks.each do |desk| %>
      <tr>
        <td><%= desk.desk_num %></td>
        <td><%= desk.from %></td>
        <td><%= desk.till %></td>
        <td><%= link_to 'Show', desk %></td>
        <td><%= link_to 'Edit', edit_desk_path(desk) %></td>
        <td><%= link_to 'Destroy', desk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desk', new_desk_path %>
