<p id="notice"><%= notice %></p>

<p>
  <strong>Desk num:</strong>
  <%= @desk.desk_num %>
</p>

<p>
  <strong>From:</strong>
  <%= @desk.from %>
</p>

<p>
  <strong>Till:</strong>
  <%= @desk.till %>
</p>

<%= link_to 'Edit', edit_desk_path(@desk) %> |
<%= link_to 'Back', desks_path %>
