<%= render 'user_login_info' %>
<div class="row mt-5 ml-2">
  <div class="col-md-12">
  	<strong>Name:</strong>
 	 <%= @desk.user.name %>
  </div>
  <div class="col-md-12">
  	<strong>Email:</strong>
 	 <%= @desk.user.email %>
  </div>
  <div class="col-md-12">
  	<strong>Desk:</strong>
  	<%= @desk.desk_num %>
  </div>
  <div class="col-md-12 mb-5">
  	<strong>Date:</strong>
 	<%= @desk.from_to_date %>
  </div>
</div>
